<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item" href="/">
      <i class="cube icon"></i>
      Refrigerecipe
    </a>
    <a class="item" href="./fridge">
      Fridge
    </a>
    <a class="active item" href="./recipes">
      Recipes
    </a>
    <div class="right menu">
      <a class="ui item" href="./cart">
        <i class="shop icon"></i>
        Cart
      </a>
      <a class="ui item" href="./login">
        Login
      </a>
    </div>
  </div>
  <h2 class="ui header">
    <div class="ui horizontal divider">
      Let's see what's possible
    </div>
  </h2>

  <!-- ** (asteriscs) NEED A SEPARATE API REQUEST FOR THIS... See rebound.js -->

  <!-- RECIPE CARDS -->
  <div id="recipes-list-div" class="ui three column doubling stackable masonry grid">


  </div>
</div>


<script src="js/RecipesUI.js"></script>

<script id="recipe-card-template" type="text/x-handlebars-template">
  <!-- recipe handlebar card -->
  \{{#each recipes}}
  <div id="recipe-\{{id}}" class="column" data=\{{id}}>
    <div class="ui fluid card">
      <div class="content">
        <!-- response.js "title" -->
        <div class="header">\{{title}}</div>
      </div>
      <!-- response.js "image" -->
      <div class="image">
        <img src="\{{image}}">
      </div>
      <div class="content">
        <h4 class="ui sub header">Missing Ingredients</h4>
        <div class="ui large list">
          \{{#each this.missedIngredients}}
          <div class="item">\{{this.name}}</div>
          \{{/each}}
        </div>
        <div class="content">
          <i class="heart outline like icon"></i>
          <!-- response.js "likes" -->
          \{{likes}}
          <span class="right floated">
            <!-- make the vegetarian thing as a filter -->
            <i class="leaf icon"></i>
          </span>
        </div>
      </div>
      <div class="extra content">
        <button class="mini ui button"><i class="shop icon"></i>Add to Cart</button>
        <span class="right floated">
  <!-- ** rebound.js "sourceUrl" -->
              <button class="mini ui button"><i class="external square icon blue"></i><a
                href="http://www.foodnetwork.com/recipes/guy-fieri/guys-kickin-quesadilla-recipe.html" target="_blank">Link to Recipe</a></button>
            </span>
      </div>
    </div>
  </div>
  \{{/each}}
</script>