<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item" href="/">
      <i class="cube icon"></i>
      Refrigerecipe
    </a>
    <a class="item" href="./fridge">
      Fridge
    </a>
    <a class="active item" href="./recipes">
      Recipes
    </a>
    <div class="right menu">
      <a class="ui item" href="./cart">
        <i class="shop icon"></i>
        Cart
      </a>
      <a class="ui item" href="./login">
        Login
      </a>
    </div>
  </div>
  <h2 class="ui header">
    <div class="ui horizontal divider">
      Let's see what's possible
    </div>
  </h2>

  <!-- ** (asteriscs) NEED A SEPARATE API REQUEST FOR THIS... See rebound.js -->

  <!-- RECIPE CARDS -->
  <div id="recipes-list-div" class="ui three column doubling stackable masonry grid">


  </div>
</div>


<script src="js/RecipesUI.js"></script>
<script src="js/vendors/async.js"></script>

<script id="recipe-card-template" type="text/x-handlebars-template">

  <!-- recipe handlebar card -->

  <!-- recipe handlebar card -->
  \{{#each recipes}}
  <div id="\{{id}}" class="column" data=\{{id}}>
    <div class="ui fluid card">
      <div class="content">
        <!-- response.js "title" -->
        <div class="header">\{{title}}</div>
      </div>
      <!-- response.js "image" -->
      <div class="image">
        <img src="\{{image}}">
      </div>
      <div class="content popper">
        <h4 class="ui sub header">Missing Ingredients</h4>

        <div class="ui large list">
          \{{#each this.missedIngredients}}
          <div class="item">\{{this.name}}</div>
          \{{/each}}
        </div>
        <div class="content">
          <i class="heart outline like icon"></i>
          <!-- response.js "likes" -->
          \{{likes}}
          <span class="right floated">
            <!-- make the vegetarian thing as a filter -->
            <i class="icon vegetarian-icon"></i>
          </span>
        </div>
      </div>
      <div class="ui modal modal-detail-card">
        <i class="close icon"></i>
        <div class="header">
          \{{title}}
          <!-- rebound.vegetarian: true -->
          <i class="leaf icon"></i>
        </div>
        <div class="ui horizontal segments">
          <div class="ui segment">
            <div class="ui tiny statistic">
              <div class="value">
                <!-- rebound.servings: 2 -->
                <i class="spoon icon"></i>
                2
              </div>
              <!-- rebound.preparationMinutes: 30 -->
              <div class="label">
                Servings
              </div>
            </div>
          </div>
          <div class="ui segment">
            <div class="ui tiny statistic">
              <div class="value">
                <i class="heartbeat icon"></i>
                259.03
              </div>
              <!--   "nutrition": {
              "nutrients": [{
                "title": "Calories",
                "amount": 259.03, -->
              <div class="label">
                Calories
              </div>
            </div>
          </div>
          <div class="ui segment">
            <div class="ui tiny statistic">
              <div class="value">
                <i class="dashboard icon"></i>
                30
              </div>
              <!-- rebound.preparationMinutes: 30 -->
              <div class="label">
                Prep time
              </div>
            </div>
          </div>
          <div class="ui segment">
            <div class="ui tiny statistic">
              <div class="value">
                <i class="wait icon"></i>
                15
              </div>
              <!-- rebound.cookingMinutes: 15 -->
              <div class="label">
                Cook time
              </div>
            </div>
          </div>
        </div>

        <div class="ui horizontal segments">
          <div class="ui segment">
            <div class="ui image">
              <img class="ui fluid image" src="https://spoonacular.com/recipeImages/Fudgy-dark-chocolate-cake-209849.jpg">
            </div>
          </div>
          <div class="ui segment">
            <div class="meta">
              <span>MISSING INGREDIENTS</span>
            </div>
            <div class="ui large list">
              \{{#each this.missedIngredients}}
              <div class="item">\{{this.name}}</div>
              \{{/each}}
            </div>
          </div>
          <div class="ui segment">
            <div class="meta">
              <span>USED INGREDIENTS</span>
            </div>
            <div class="ui large list">
              \{{#each this.usedIngredients}}
              <div class="item">\{{this.name}}</div>
              \{{/each}}
            </div>
          </div>
        </div>

        <div class="actions">
          <button class="ui black deny button"><i class="inverted share icon"></i>Next Recipe</button>
          <button class="ui green button"><i class="shop icon"></i>Add to Cart</button>
          <span class="right floated"></span>
        </div>

      </div>


      <div class="extra content">
        <button class="mini ui button"><i class="shop icon"></i>Add to Cart</button>
        <span class="right floated">
  <!-- ** rebound.js "sourceUrl" -->
          <button class="mini ui button"><i class="external square icon blue"></i><a
            href="" target="_blank" class="recipe-external-link">Link to Recipe</a></button>
          </span>
      </div>
    </div>
  </div>
  \{{/each}}
</script>

<script id="recipe-modal-detail-template" type="text/x-handlebars-template">
  <!--<div class="ui modal modal-detail-card">-->
    <i class="close icon"></i>
    <div class="header">
      \{{title}}
      <!-- rebound.vegetarian: true -->
      <i class="icon vegetarian-icon"></i>
    </div>
    <div class="ui horizontal segments">
      <div class="ui segment">
        <div class="ui tiny statistic">
          <div class="value">
            <!-- rebound.servings: 2 -->
            <i class="spoon icon"></i>
            \{{servings}}
          </div>
          <!-- rebound.preparationMinutes: 30 -->
          <div class="label">
            Servings
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui tiny statistic">
          <div class="value">
            <i class="heartbeat icon"></i>
            \{{Calories}}
          </div>
          <!--   "nutrition": {
          "nutrients": [{
            "title": "Calories",
            "amount": 259.03, -->
          <div class="label">
            Calories
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui tiny statistic">
          <div class="value">
            <i class="dashboard icon"></i>
            \{{preparationMinutes}}
          </div>
          <!-- rebound.preparationMinutes: 30 -->
          <div class="label">
            Prep time
          </div>
        </div>
      </div>
      <div class="ui segment">
        <div class="ui tiny statistic">
          <div class="value">
            <i class="wait icon"></i>
            \{{cookingMinutes}}
          </div>
          <!-- rebound.cookingMinutes: 15 -->
          <div class="label">
            Cook time
          </div>
        </div>
      </div>
    </div>

    <div class="ui horizontal segments">
      <div class="ui segment">
        <div class="ui image">
          <img class="ui fluid image" src="\{{image}}">
        </div>
      </div>
      <div class="ui segment">
        <div class="meta">
          <span>MISSING INGREDIENTS</span>
        </div>
        <div class="ui large list">
          \{{#each this.missedIngredients}}
          <div class="item">\{{this.name}}</div>
          \{{/each}}
        </div>
      </div>
      <div class="ui segment">
        <div class="meta">
          <span>USED INGREDIENTS</span>
        </div>
        <div class="ui large list">
          \{{#each this.usedIngredients}}
          <div class="item">\{{this.name}}</div>
          \{{/each}}
        </div>
      </div>
    </div>

    <div class="actions">
      <button class="ui black deny button"><i class="inverted share icon"></i>Next Recipe</button>
      <button class="ui green button"><i class="shop icon"></i>Add to Cart</button>
      <span class="right floated"></span>
    </div>

  <!--</div>-->
</script>